# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.env
.venv
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Migrations (optional, if you don’t want to commit)
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py
