<div class="major-detail">
  <h2>{{ major.name }}</h2>
  <p>{{ major.description }}</p>

  <h4> Salary (BHD)</h4>
  <ul>
    <li>Entry Level: {{ major.entry_salary_bhd }}</li>
    <li>Mid Level: {{ major.mid_salary_bhd }}</li>
    <li>Senior Level: {{ major.senior_salary_bhd }}</li>
  </ul>

  <h4> Employability Rate</h4>
  <div class="progress-circle" data-rate="{{ major.employability_rate }}">
    <span>{{ major.employability_rate }}%</span>
    <div class="circle">
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
    </div>
  </div>
</div>
