{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required title="Enter your username" placeholder="Username"><br>
    <label>Password:</label>
    <input type="password" name="password" required title="Enter your password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'signup' %}">Signup here</a></p>
{% endblock %}
